div {
  font-family: 'Raleway', sans-serif;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid #DCDCDC;
}

#container {
  text-align: center;

  .form {
    margin-bottom: 20px;

    input[type="submit"] {
      background-color: white;
      border: none;
      font-family: 'Mrs Sheppards', cursive;
      font-size: 24px;
      cursor: pointer;
    }

    span {
      margin: 10px;
    }
  }

  #results {
    margin-bottom: 20px;

    span {
      padding: 10px;

      img {
        cursor: pointer;
        max-width: 300px;
        max-height: 150px;
      }
    }
  }

  #title {
    font-family: 'Mrs Sheppards', cursive;
    font-size: 74px;
  }
}

.form_error {
  border: 1px solid hsl(0, 100%, 30%);
  border-radius: 6px;
  width: 40%;
  height: 25px;
  margin: 20px 0px 0px 30%;
  padding: 8px 0px 1px 10px;
  color: #940000;
  background-color: #ffbdbd;
}

.form_success {
  border: 1px solid hsl(120, 100%, 30%);
  border-radius: 6px;
  width: 40%;
  height: 25px;
  margin: 20px 0px 0px 30%;
  padding: 8px 0px 1px 10px;
  color: #006600;
  background-color: #c2ffc2;
}

.hidden {
  display: none;
}

.selected {
  border: 5px solid red;
}

::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-align: center;
}

/* Firefox 18- */
:-moz-placeholder {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

/* Firefox 19+ */
::-moz-placeholder {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
